<mat-toolbar color="primary" *ngIf="isAuthenticated">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{appName}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div *ngIf="isAuthenticated">
  <a [routerLink]="['/veiculo']">Veiculo Lista</a><br>
  <a [routerLink]="['/dashboard']">Dashboard</a><br>
  <a [routerLink]="['/veiculo/cadastrar']">Cadastrar Veiculo</a><br>
<a [routerLink]="['veiculo', 'cadastrar']">Cadastrar Veiculo</a><br>
<a [routerLink]="['/entrar']">Entrar</a>
</div>



<router-outlet></router-outlet>

